<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vehicle List</title>
</head>
<body>
    <h1>Vehicle List</h1>
    <table>
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>VIN</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.make }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.year }}</td>
                <td>{{ vehicle.vin }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% URL 'add_vehicle' %}">Add New Vehicle</a>
</body>
</html>
